<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="DBLocation" value="C:\ProgramData\UkrSkladS\db\Sklad.tcb" />
    <add key="DBIsLocal" value="0" />
    <add key="DBHost" value="PC-TAH" />
    <add key="DBVersion" value="4" />
    <add key="scannerToUkrskladClients" value="scannerToUkrskladClients.txt" />
    <add key="scannerToUkrskladGoods" value="scannerToUkrskladGoods.txt" />
    <add key="defaultActiveFirmID" value="1" />
    <add key="defaultSkladID" value="2" />
    <add key="applicationUserID" value="1" />
    <add key="Cina" value="Ціна" />
    <add key="CinaRozdrib" value="Ціна роздрібна" />
    <add key="CinaOptova" value="Ціна оптова" />
    <add key="Cina1" value="Ціна 1" />
    <add key="Cina2" value="Ціна 2" />
    <add key="Cina3" value="Ціна 3" />
    <!--PDV задається в процентах. Тобто якщо ПДВ = 20%, то має бути <add key="PDV" value="20" /> -->
    <add key="PDV" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>